* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
}

.menu-container {
  grid-column: 1;
  padding: 15px 10px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.title-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 20% 1fr; /* Navegación y contenido principal */
  grid-template-areas:
    "nav main-content";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-content {
  grid-area: main-content;
  padding: 1rem;
  overflow-y: auto;
}

.icon-menu::before {
  font-family: 'Material Icons';
  content: 'menu';
  margin-right: 0.5rem;
}

/* Responsive adjustments */
@media (min-width: 1024px) {
  #menu-button {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    display: none; /* Oculta el menú por defecto */
  }

  nav.active {
    display: block; /* Muestra el menú cuando está activo */
    position: fixed;
    top: 80px; /* Ajusta la posición para que no quede debajo del header */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Ajusta la altura para dejar espacio al header */
    z-index: 1000;
    overflow-y: auto;
  }

  .main-content.hidden {
    display: none; /* Oculta el contenido principal cuando el menú está activo */
  }

  header {
    grid-template-columns: 10% 1fr;
    grid-template-rows: auto auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001; /* Asegura que el header esté sobre el menú */
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-content"
      "nav";
    margin-top: 80px; /* Ajusta el margen superior para dejar espacio al header fijo */
  }

  nav {
    order: 1;
  }

  .main-content {
    order: 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 5% 1fr;
    grid-template-rows: auto auto;
  }

  .menu-container {
    justify-self: start;
  }

  .title-container {
    justify-self: center;
  }
}

@media only screen and (max-width: 620px) {
  body {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main";
  }

  header {
    grid-template-columns: 5% 1fr;
    grid-template-rows: auto auto;
  }

  nav {
    width: 100%;
  }
}

/* Contenedores de la vista home*/
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: calc(100vh - 100px); 
  text-align: center;
}

.welcome-container h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

@media (max-width: 768px) {
  .welcome-container h2 {
      font-size: 1.5rem; 
  }
}

/*------------------------------*/