/* Estilos para la vista previa (preview.html) */

.analysis-preview-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    width: 80%;
    max-width: 600px;
}

.start-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border: 4px solid #8BC34A;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.start-button:hover {
    border: 4px solid #1a7734;
    background-color: #1a7734;
    color: white;
}
