.sidebar {  
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    border-bottom: 1px solid #ccc; 
}

.sidebar li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.125rem;
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s;
    font-weight: normal; 
}

.sidebar li a::before {
    font-family: 'Material Icons';
    margin-right: 20px; 
    font-size: 1.5rem; 
}

.icon-home::before {
    content: 'home';
}

.icon-analysis::before {
    content: 'add';
}

.icon-results::before {
    content: 'reorder';
}

.icon-settings::before {
    content: 'settings';
}

.icon-person::before {
    content: 'person';
}

.icon-logout::before{
    content: 'logout';
}

.sidebar li a:hover {
    background-color: #3D8AF7;
    color: white; 
    font-weight: bold;
}


.sidebar li {
    border-bottom: 1px solid #ccc; 
}


.sidebar form {
    display: block;
    width: 100%; 
}

.logout {
    display: block; 
    width: 100%;
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 15px 10px; 
    text-decoration: none; 
    font-size: 1.125rem; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: normal;
    text-align: left; 
}

.icon-logout::before {
    font-family: 'Material Icons'; 
    content: 'logout'; 
    margin-right: 10px; 
    font-size: 1.5rem; 
}

.logout:hover {
    background-color: #3D8AF7; 
    color: white; 
    font-weight: bold; 
}
