{% extends 'base.html' %}

{% block title %}Mi cuenta{% endblock %}

{% block head %}
{{ super }}
{% endblock %}
{% block header %}
<div class="title-container">
    <h1>Cuenta</h1>
</div>
{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
<div class="account-container">
    <h2>Configuración de cuenta</h2>
    <div class="pass-container">
        <a href="{% url 'cambioContra' %}" class="btn btn-primary" aria-label="Cambia tu contraseña actual por una nueva">Cambiar Contraseña</a>
        <p class="description">Haz clic en el botón para actualizar tu contraseña.</p>
    </div>
</div>




{% endblock %}
