<section class="page">
    <div class="scroll-header">
        <h2>Paso 3/3: Vista Previa</h2>
    </div>
    <div class="analysis-preview-container">
        <div class="form-group">
            <label for="file-name-preview">Archivo</label>
            <input type="text" id="file-name-preview" name="file-name-preview" disabled>
        </div>
        <div class="form-group">
            <label for="analysis-name-preview">Nombre del análisis</label>
            <textarea id="analysis-name-preview" name="analysis-name-preview" disabled></textarea>
        </div>
        <div class="form-group">
            <label for="description-preview">Descripción</label>
            <textarea id="description-preview" name="description-preview" disabled></textarea>
        </div>
        
        <div class="start-btn-container">
            <button type="submit" class="start-button" id="submitBtn">Iniciar análisis</button>
        </div>
    </div>
</section>