{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo análisis{% endblock %}
{% block head %}
{{ super }}
<script src="{% static 'js/horizontalScroll.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/horizontalScroll.css' %}">
{% endblock %}
{% block content %}
<div class="scroll-content-container" id="scroll-content-container">
    <section class="page upload-file">
        <div class="scroll-header">
            <h1>Nuevo análisis: Cargar archivo HTML</h1>
        </div>
        <div class="upload-container" id="drop-area">
            <div class="upload-icon">+</div>
            <div class="upload-text">Agregar archivo HTML</div>
        </div>
        <div class="button-container">
            <button class="upload-button" onclick="document.getElementById('file-input').click()">Cargar archivo</button>
            <input type="file" id="file-input" style="display: none;" />
        </div>
    </section>

    <section class="page analysis-preferences">
        <div class="scroll-header">
            <h1>Nuevo análisis: Preferencias</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="analysis-name">Nombre del análisis</label>
                <input type="text" id="analysis-name" name="analysis-name" placeholder="Escriba un nombre para el análisis">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" name="description" placeholder="Escriba una descripción"></textarea>
            </div>
        </form>
    </section>

    <section class="page analysis-preview">
        <div class="scroll-header">
            <h1>Nuevo análisis: Vista Previa</h1>
        </div>
        <form>
            <div class="form-group">
                <aria-label for="file-name">Archivo</aria-label>
                <input type="text" id="file-name" name="file-name">
            </div>
            <div class="form-group">
                <aria-label for="analysis-name">Nombre del análisis</aria-label>
                <textarea id="analysis-name" name="analysis-name"></textarea>
            </div>
            <div class="form-group">
                <aria-label for="description">Descripción</aria-label>
                <textarea id="description" name="description"></textarea>
            </div>
        </form>
    </section>
</div>


<div class="indicators nav-buttons" id="indicators">
    <div class="nav-button-container">
        <button id="prevBtn">&lt;</button>
        <div class="nav-label">Anterior</div>
    </div>
    <span class="dot active" data-index="0"></span>
    <span class="dot" data-index="1"></span>
    <span class="dot" data-index="2"></span>
    <div class="nav-button-container">
        <button id="nextBtn">&gt;</button>
        <div class="nav-label">Siguiente</div>
    </div>
</div>
{% endblock %}
