{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo análisis{% endblock %}
{% block head %}
{{ super }}
<script src="{% static 'js/horizontalScroll.js' %}"></script>
{% endblock %}
{% block content %}

    <header>
        <div class="header-content">
            <h2>Nuevo análisis: Preferencias</h2>
        </div>
    </header>
    <main class="content-container">
        <form>
            <div class="form-group">
                <label for="analysis-name">Nombre del análisis</label>
                <input type="text" id="analysis-name" name="analysis-name" placeholder="Escriba un nombre para el análisis">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" name="description" placeholder="Escriba una descripción"></textarea>
            </div>
        </form>
        <div class="navigation">
            <button onclick="scrollToPage(0)">Anterior</button>
            <div class="dots">
                <span class="dot" onclick="scrollToPage(0)"></span>
                <span class="dot active" onclick="scrollToPage(1)"></span>
                <span class="dot" onclick="scrollToPage(2)"></span>
            </div>
            <button onclick="scrollToPage(2)">Siguiente</button>
        </div>
    </main>
{% endblock %}