{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo análisis{% endblock %}
{% block head %}
{{ super }}
<script src="{% static 'js/horizontalScroll.js' %}"></script>
{% endblock %}
{% block content %}

    <header>
        <div class="header-content">
            <h2>Nuevo análisis: Cargar archivo HTML</h2>
        </div>
    </header>
    <main class="content-container">
        <div class="centered-container">
        <div class="upload-container" id="drop-area">
            <div class="upload-icon">+</div>
            <div class="upload-text">Agregar archivo HTML</div>
            <button class="upload-button" onclick="document.getElementById('file-input').click()">Cargar archivo</button>
            <input type="file" id="file-input" style="display: none;" />
        </div>
        
        <div class="navigation">
            <button onclick="scrollToPage(0)">Anterior</button>
            <div class="dots">
                <span class="dot active" onclick="scrollToPage(0)"></span>
                <span class="dot" onclick="scrollToPage(1)"></span>
                <span class="dot" onclick="scrollToPage(2)"></span>
            </div>
            <button onclick="scrollToPage(1)">Siguiente</button>
        </div>
    </div>
    </main>
{% endblock %}